* {
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: #030303 !important;
}
.bg-black1 {
    background-color: #181818 !important;
}
@keyframes floating {
    0% {top: 10px}
    50% {bottom: 10px} 
    100% {top:0px; bottom:0px}
}
.cstm-card-1 {
    border-radius: 20px;
    background: #2c2c2c !important;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-in-out;
    position: relative;
    animation-name: floating;
    animation-direction: alternate-reverse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.cstm-card-1:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
    animation-play-state: paused;
    transform: scale(1.02);
    box-shadow: 1px 1px 100px rgb(29, 20, 66);
}  
section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    overflow :hidden;
}

.reveal{
    position: relative;
    transform: translateX(-50px);
    opacity: 0;
    transition: 1s all ease;
  }
  .reveal.active{
    transform: translateX(0);
    opacity: 1;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
  .boujee-text {
    --bg-size: 400%;
    --color-one: rgb(248, 87, 176);
    --color-two: rgb(255, 162, 243);
        font-family: 'Roboto' !important;
    font-weight: 400;
    font-size: 120px;
    line-height: 120px;
    background: linear-gradient(
                  90deg,
                  var(--color-one),
                  var(--color-two),
                  var(--color-one)
                ) 0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: move-bg 8s infinite linear;
  }

  #techstacks img {
    max-width: 90px;
    margin: 10px;
  }

.cstm-tooltip {
    position: absolute;
    padding: 0 10px;
    top:0;
    left:20;
    background-color: rgba(0, 0, 0, 0.815);
}