.navbar {
  background: rgba(66, 66, 66, 0.596);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  color: rgb(238, 238, 238);
}

.navbar a {
  border-radius: 4px;
  padding : 2px 4px;
  color: white !important;
}
.navbar a:hover {
  color: rgb(80, 199, 41) !important;
  transition: 0.1s;
}