#project-container {
    display: grid;
    grid-template-columns: 40% 60%;
}
@media only screen and (max-width: 480px){
    #project-container{
        grid-template-columns: 1fr;
    }
    #project-section {
        grid-template-columns: 1fr;
        padding : 0px 16px !important;
    }
}