#skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
  max-width: 1100px;
  .skills_container {
    min-width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  #skills {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  #skills {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  #skills {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.skills_container {
  padding: 8px 16px !important;
  align-items: center;
  /* Pill container for each entry */
  & div div {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
    border-radius: 15px;
    & img {
      object-fit: contain;
      height: 100%;
      width: auto;
    }
  }
  .proficient {
    background-color: rgb(37, 129, 57) !important;
  }
}
